.gridsystem{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 30vh;

  isolation: isolate;
    /* aspect-ratio: 1 / 1; */
}

.gridsystem > * {
  /* aspect-ratio: 1 / 1; */
  width: 100%;
  height: 100%;
}

.gridsystem > div {
  outline: 1px solid #ccc;
}

.nooutline{
  outline: 0px !important;
}

/* contenido Que Somos */



#Textoquesomos {
  position: relative;     /* para que el absolute de la img sea relativo a este div */
  isolation: isolate;     /* permite que la mezcla se haga entre img y texto */
  /* overflow: hidden;  */
  grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

#fotomax{
  grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

#chapa1{
  grid-column-start: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Ensure no padding */
}

#chapa2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Ensure no padding */
  grid-column-start: 5;
    grid-row-start: 2;
}




@media (max-width: 1020px) {

  .gridsystem{
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    grid-auto-rows: auto;
  
      /* aspect-ratio: 1 / 1; */
  }


  .gridsystem > div > img {
    width: 75%;
    height: auto;
    /* object-fit: cover; */
  }

  #Textoquesomos {
    width: 100vw;
    grid-column: span 2;
 grid-row: span 1;
  }

  #fotomax{
    width: 100vw;
 grid-column: span 2;
 grid-row: span 1;
    grid-row-start: 2;
  }

  #chapa1{
    
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50vw;
  }

  #chapa2{
        grid-row-start: 3;
        width: 50vw;
        grid-column-start: 2;
        
  }









}


/*  contenido Que hacemos */



#marcorojo{
  grid-column: span 1 / span 3;
    grid-row: span 1 / span 1;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: -1;
    opacity: 0.1;
    
    
    
}

#marcoverde{
  grid-column: span 1 / span 2;
  grid-column-start: 5;
  grid-row-start: 4;
}


#marcoazul{
  grid-area: 1 / 5 / 1 / 6;
  background-color: #1E69F5;
}



#Textoquehacemos { 
  grid-area: 1 / 1 / 3 / 3; 
  width: 40vw;
}

#fotomedios { 
  grid-area: 1 / 3 / 2 / 4; 
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

  #fotocigiden { 
  grid-area: 1 / 4 / 3 / 6; 
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  }
#fotocrtic { 
  grid-area: 2 / 3 / 3 / 5; 
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#canvassilla{
   grid-area: 3 / 1 / 5 / 6; 
   z-index: -1;
}

#botonessilla { 
  grid-area: 3 / 1 / 5 / 2; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#botonessilla button {
  margin: 11px; /* Ajusta el valor según el espacio que desees */
}

#botonessilla button:hover {
  filter: brightness(85%); /* Oscurece el botón un 15% */
  cursor: pointer; /* Cambia el cursor a una mano al pasar el ratón */
}




@media (max-width: 1020px) {

  
  #Textoquehacemos { 
    grid-area: 1 / 1 / 2 / 3;
    width: 100vw;
  }
  
  #fotomedios { 
    grid-area: 2 / 1 / 3 / 2;
    width: 50vw;
    
  }
  
    #fotocigiden { 
      grid-area: 3 / 1 / 5 / 3; 
      width: 100vw;
    
    }
  #fotocrtic { 
    
    grid-area: 2 / 2 / 3 / 3;
    width: 50vw;
  }
  #botonessilla{
    padding-top: 30px;
    padding-bottom: 30px;
    grid-area: 5 / 1 / 6 / 3; 
    display: flex;
flex-direction: row; /* Esto alinea los elementos horizontalmente */
align-items: center; /* Centra los elementos verticalmente en el contenedor flex */
justify-content: center; /* Centra los elementos horizontalmente en el contenedor flex */
 }

  
  #canvassilla{
     grid-area: 6 / 1 / 7 / 3; 
  }



}





